@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;600&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  margin: 0;
  background-color: rgba(116, 125, 140, 1);
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3.5rem 0;
}
.addNote {
  position: fixed;
  top: 1rem;
  right: 1rem;
  padding: .4rem .9rem;
  background-color: rgba(178, 190, 195,1.0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.541);
}
.addNote:hover{
  font-size: 1.2rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.362);
}
/* .maincontainer{
  padding: 2rem 0;
} */
#container {
  width: 500px;
  height: 500px;
  overflow: hidden;
  background-color: rgba(149, 175, 192, 1);
}
.tools {
  width: 100%;
  height: 3.3rem;
  padding: 10px;
  background-color: rgba(83, 92, 104, 1);
  text-align: right;
}
.toolsSpan{
  color: rgba(237, 237, 237, 0.604);
  position: relative;
  right: 20rem;
  font-size: 18px;

}
.tools button {
  font-size: 1.4rem;
  background-color: transparent;
  border: none;
  color: rgba(199, 236, 238, 1);
  cursor: pointer;
}
.tools button:hover {
  font-size: 1.6rem;
}
.tools button:active {
  font-size: 1.3rem;
}
.main {
  width: 100%;
  height: 100%;
  padding: .5rem .4rem;
}
.main.hidden {
  display: none;
  width: 100%;
  height: 100%;
}
#textarea {
  width: 100%;
  height: 100%;
  border: none;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
}
.textarea.hidden {
  display: none;
}
